extends header

block content
   title #{title}
   .container(style="margin-bottom:40px;")
      .col-xs-12.col-sm-12.col-md-12
         .fz21.well.

            Han sitter på bänken och dinglar med benen, han säger att han mår bra.#[br]
            Han berättar om en händelse när han var liten pojk.#[br]
            Han ler, och ögonen är busiga. Fan vad det känns skönt inne i kroppen säger han.#[br]
            Han är snart 90 år och har precis fått en zonterapibehandling.#[br]#[br]

            Det känns skönt i mig också när jag ser att han mår bra

      .col-xs-12.col-sm-12.col-md-12
         .fz21.well.

           Citronvatten på morgonen hjälper kroppen på många sätt.
           Citronsyra hjälper till att driva ut gifter ur din kropp.
           Tack vare att citroner är vätskedrivande, vilket har till
           följd att du gör dig av med toxiner som lagrats
           i kroppen snabbare än vanligt.

           Citronsyra är trots att den är så sur, väldigt basisk och hjälper
           kroppen att hålla rätt pH-värde. Nyttigt i dagens samhälle
           där så många av oss är försurade, med inflammationer och andra sjukdomar som
           tex. cancer.

           Citroner är c-vitaminrika och stärker därför immunförsvaret,
           c-vitamin gör också så att kroppen lättare tar upp järn
           Flertalet av dom som börjar dagen med citronvatten upplever
           att dom får bättre hy och att sötsug minskar.

           Pressa en ekologisk citron och häll i kokat vatten,
           fyll sedan på med kallt vatten så det blir ljummet.
           Drick det en stund innan du äter något annat på morgonen

      .col-xs-12.col-sm-12.col-md-12
        .fz21.well.

          Snubblade över en fin text, Nelson Mandelas installationstal.
          Texten är skriven av Marianne Williamson:#[br]#[br]

          Vår djupaste rädsla är inte att vi är otillräckliga.#[br]
          Vår djupaste rädsla är att vi är omåttligt kraftfulla.#[br]
          Det är vårt ljus, inte vårt mörker som skrämmer oss mest.#[br]
          Vi frågar oss själva, hur skulle jag kunna vara genial, underbar, begåvad, fantastisk?#[br]
          Men varför skulle inte Du vara det?#[br]

          Att Du låtsas vara liten hjälper inte världen.#[br]
          Det finns inget upplyst i att krympa för att andra människor inte ska känna sig osäkra i Din närhet.#[br]
          Vi är alla avsedda att lysa som barn gör.#[br]
          Vi föddes för att manifestera vår fulla potential som bor inom oss.#[br]
          Den finns inte bara i några av oss. Den finns i var och en!#[br]
          Och då vi låter vårt eget ljus lysa, ger vi omedvetet andra människor tillåtelse att göra samma sak.#[br]
          När vi är befriade från vår egen rädsla, befriar vår närvaro automatiskt andra!#[br]
