extends header

block content
   .container(style="margin-bottom:40px;")
      col-xs-12.col-sm-12.col-md-6
         .well
            h3 Vägra Följa John
            p.
               Myter och oskrivna regler
            p.
               Att vårda det friska
               Att utvecklas som människa
               Grunden till att må bra

            p.
               Pris 250kr 290kr inkl frakt.

               Skicka ett mail eller sms med
               din adress så skickar jag
               boken tillsammans med en faktura
            p.
               E-mail: hallborg.pernilla@telia.com
               Tel.Nr: 070 - 61 888 26

      col-xs-12.col-sm-12.col-md-6
         p
            img.img-responsive(src = '/img/vägra_följa_john.png', style = 'width:400px;', alt='Vägra följa john bild')
      hr.divider

      col-xs-12.col-sm-12.col-md-6
         .well
            h3 Sanna Ehdin Anandala, Den självläkande människan
            p.
               Boken tar upp kosten och livsstilen som stärker hälsan,
               Sanna berättar om nya forskningsrön och ger
               konkreta praktiska råd om bl.a.
               fetter, detox, hormoner och andningen
               som hjälper dig att bli en självläkande människa

      col-xs-12.col-sm-12.col-md-6
         p
            img.img-responsive(src = 'img/sanna.png' style = 'width:400px;', alt='Sannas bild')
      hr.divider

      col-xs-12.col-sm-12.col-md-6
        .well
          h3 Katarina Mannheimer, Dit hjärtat längtar
          p.
            Detta är en bok om självkännedom
            och om resan tillbaka till oss
            själva, den som vi innerst inne är.
            Den som det är meningen att vi ska
            vara, om vi vill må riktigt bra

      col-xs-12.col-sm-12.col-md-6
        p
            img.img-responsive(src ='img/katarina.jpg', style = 'width:400px;' alt='katarinas bild')
      hr.divider

      col-xs-12.col-sm-12.col-md-6
        .well
          h3 Janesh Vaidya, Maten är min medicin
          p.
            En indisk kokbok inspererad
            av den insidka läran. Tips för  de olika
            kroppstyperna, Kapha, Pitta och Vata.
      col-xs-12.col-sm-12.col-md-6
        p
            img.img-responsive.rotatePick(src ='img/janesh.jpg', style = 'height:400px; margin-top:65px; margin-bottom:75px; margin-left:-65px;' alt='Janesh bild')
      hr.divider
