head
  title #{title}
  meta(charset = 'utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='description', content='Pernillas Hälsa erbjuder zonterapi i växjö och älmhult. Zonterapi är infalmmationsläkande, vilket dämpar smärta och värk')
  meta(name='keywords', content='pernillas,hälsa,zonterapi,växjö,älmhult')
  link(rel = 'stylesheet', href = 'stylesheets/bootstrap.min.css')
  link(rel = 'stylesheet', href = 'stylesheets/custom.css')

  script(src = 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
  script(src = 'http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
  script(src = 'javascript/menu.js')
  script.
    var selected = '#{selected}'
body


  nav.navbar.navbar-default
    .container
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#NAVBAR')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/') Pernillas Hälsa

      #NAVBAR.collapse.navbar-collapse

        ul#mainMenu.nav.navbar-nav
          li
            a(href = '/') Start
          li
            a(href = '/betraktelser') Betraktelser
          li
            a(href = '/boktips') Boktips
          li
            a(href = '/kost') Kost
          li
            a(href = '/recept') Recept
          li
            a(href = '/om') Om zonterapi
          li
            a(href = '/ayurveda') Ayurveda
          li
            a(href = '/strykningsterapi') Strykningsterapi
          li
            a(href = '/kontakt') Kontakt




  block content
footer.footer
    container
        p.
            Pernilla Hallborg #[img(src="img/heartBeat.png")] Diplomerad Zonterapeut #[img(src="img/heartBeat.png")] Kost och Hälsa
