extends header

block content
   .container(style="margin-bottom:40px;")
      section.col-xs-12.col-sm-12.col-md-6
         h2
            header.label.label-default Kontaktuppgifter

         article.well
            label E-post:
            p.
               hallborg.pernilla@telia.com

            label Tel.Nr:
            p.
               070 - 61 888 26
            label Adress:
            p.
               CARPE DIEM Kropp&Själ,#[br]
               Kronobergsgatan 2, Växjö#[br]#[br]
               Prinsgatan 15, Älmhult (bokas via telefon)

      section.col-xs-12.col-sm-12.col-md-6
         h2
            header.label.label-default Priser

         article.well
            label En behandling vara i 60 minuter:
            p.
              550 Kronor / Behandling,#[br]
              Du kan även boka på kropp och själs #[a(href="http://www.cdkroppochsjal.se/") hemsida]
