extends header

block content
   .container(style="margin-bottom:40px;")
      .well.row
         #accordion.panel-group(aria-multiselectable = 'true' role = 'tablist')
            .panel.panel-default
               #headingOne.panel-heading(role = 'tab')
                  .panel-title
                  a.collapsed(href = '#collapseOne' data-toggle = 'collapse' data-parent = '#accordion') Ät dig frisk

               #collapseOne.panel-collapse.collapse.in(role = 'tabpanel' aria-labeledby = 'headingOne' aria-expanded = 'true')
                  .panel-body
                     section.col-xs-12.col-sm-12.col-md-4
                        article
                           header
                              h6 Från en föreläsning av bärnläkaren Inger Persson
                           p
                              ul.recipe
                                 li 1. Ät regelbundet
                                 li 2. Välj oprocessade råvaror
                                 li 3. Välj närproducerat och ekologiskt
                                 li 4. 4 frukter dagligen+2 halva tallrikar färgglada grönsaker
                                 li 5. fet fisk 3 ggr/veckan
                                 li 6. TUGGA maten
                                 li 7. Rör på dig 30 minuter/dag
                                 li 8. Sov 8 timmar/natt
                                 li 9. Vårda dina goda relationer

                     section.col-xs-12.col-sm-12.col-md-4
                        article

                           p.
                              Makrill, sill, anjovis, sardiner, musslor, ostron innehåller mycket Omega 3
                     section.col-xs-12.col-sm-12.col-md-4
                        //bild

            .panel.panel-default
               #headingTwo.panel-heading(role = 'tab')
                  .panel-title
                  a.collapsed(href = '#collapseTwo' data-toggle = 'collapse' data-parent = '#accordion') Maten som skyddar oss mot cancer

               #collapseTwo.panel-collapse.collapse(role = 'tabpanel' aria-labeledby = 'headingTwo' aria-expanded = 'true')
                  .panel-body
                     section.col-xs-12.col-sm-12.col-md-4
                        article
                           header
                              h6 Noteringar från en föreläsning av Kerstin Hultén, dietist och forskare.
                           p
                              p.
                                 Mat som innehåller mycket antioxidanter är t.ex.
                              ul.recipe
                                 li Bär
                                 li Örter som: Nejlika, Oregano, Gurkmeja
                                 li Grönt Té
                                 li Gröna bladgrönsaker

                           p
                              p.
                                 Andra nyttigheter är t.ex.
                              ul.recipe
                                 li Lök, alla sorter
                                 li Kålväxter
                                 li Bönor
                                 li Paprika är jättenyttigt
                     section.col-xs-12.col-sm-12.col-md-4
                        article

                           p.
                              Medelhavsmat är extremt nyttigt, den består av mycket frukt och grönsaker och ofta ett glas rött vin till maten.(som är bra för hjärtat)
                     section.col-xs-12.col-sm-12.col-md-4
                        //bild

            .panel.panel-default
               #headingThree.panel-heading(role = 'tab')
                  .panel-title
                  a.collapsed(href = '#collapseThree' data-toggle = 'collapse' data-parent = '#accordion') Lite tips!

               #collapseThree.panel-collapse.collapse(role = 'tabpanel' aria-labeledby = 'headingThree' aria-expanded = 'true')
                  .panel-body
                     section.col-xs-12.col-sm-12.col-md-6
                        article
                           header
                              h6 Noteringar från en föreläsning av Kerstin Hultén, dietist och forskare.
                           p

                           ul.recipe
                              li  Skippa småkakorna(eller minska på antalet)
                              li  Använd örter och grönt te som degspad
                              li  Ät dig 80% mätt, ta bara en portion, välj mat som mättar
                              li  Lite alkohol är bra, och mörk choklad(nästan bitter)
                              li  Koka potatisen i lite vatten innan du ugnsteker den för att förhindra
                              uppkomsten av akrylamid. Strö rosmarin, salt eller andra kryddor över potatisen

                           p
                              p.
                                 Se upp för cancerframkallande!
                              ul.recipe
                                    li Färgämnen från läsk och godis
                                    li Charketurier(nitritsalter)
                                    li Pommes frites, chips
                                    li Aflatoxiner kan finnas i nötter av mindre god kvalité,rött kött,läsk och söta drycker
                                    li Ät inte mer än ½ kg rött kött i veckan (nöt, fläsk, lamm)
                     section.col-xs-12.col-sm-12.col-md-6
                        article

                           p.
                              D-Vitaminer finns i fisk, ät gärna fisk 2 gånger i veckanS
                              Finns också i magra mejeriprodukter och ägg och (SOLEN)
                           p.
                              Ta inte Antioxidanter i tablettform. Se till att få i dig dem via maten
                           p.
                              Tomater är bra mot prostatacancer
                           p.
                              Fullkorn skyddar mot prostata, livmoder, tjocktarm och bröstcancer
                           p.
                              Ta gärna en citronskiva i te, det hjälper kroppen att ta upp nyttigheterna
                           p.
                              Ät mer fisk än kött, Ät färsk frukt efter varje måltid



                .panel.panel-default
               #headingFour.panel-heading(role = 'tab')
                  .panel-title
                  a.collapsed(href = '#collapseFour' data-toggle = 'collapse' data-parent = '#accordion') Rekommendationer

               #collapseFour.panel-collapse.collapse(role = 'tabpanel' aria-labeledby = 'headingFour' aria-expanded = 'true')
                  .panel-body
                     section.col-xs-12.col-sm-12.col-md-4
                        article
                           header
                              h6 Rekommendationer från Kerstin Hultén som gjort fallstudier på 7000 personer.
                           p
                              ul.recipe
                                 li BMI 21-23
                                 li Motion 30 minuter/dag
                                 li Höj pulsen lite mer ett par gånger i veckan
                                 li Ät mycket mat från växtriket
                                 li Undvik kaloririk mat
                                 li Lite alkohol
                                 li Ät nyttig mat och skippa kosttillskottet
                                 li Mindre rött kött
                                 li Undvik mögel som kan förekomma i torkad frukt, nötter, fröer
                                 li Amma


                     section.col-xs-12.col-sm-12.col-md-4
                        article

                           p.

                     section.col-xs-12.col-sm-12.col-md-4
                        //bild
