extends header

block content
    .container(style="margin-bottom:40px;")
        .well.
            Strykningsterapi är en generator för livskraften.
            Metoden bygger på naturens egna lösningar på flöde och kraft.
            Som att människans konstitution är större än hennes synliga organism.
            Strykningsterapin har visat sig kunna påverka människors medvetenhet och att man hämtar sig förvånansvärt snabbt från tex. utbrändhet.
            Och att man känner kraft att ta tag i sin situation. Strykningsterapi stimulerar självläkningen i kroppen på ett mentalt och känslomässigt plan.
            Den är mycket effektiv där zonterpin blir för kraftfull.
            När jag behandlar med strykningsterapi så arbetar jag på fot och underben, med tryck och strykningar.
